* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

hr {
  background-color: white;
}

.ml-auto {
  margin-left: auto !important;
}

.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: white !important;
  font-weight: 600;
  text-align: center;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler i {
  color: white !important;
  font-size: 30px !important;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}

.play-btn {
  width: 45px;
  margin: 20px;
  text-align: start;
  align-items: center;
}

.bottom-img {
  width: 100%;
}

.service-img {
  width: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.header::before {
  content: "";
  background-color: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}

.header {
  text-transform: uppercase;
  text-align: center;
}

.about-title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 8%;
}

.testimonials {
  border-left: 4px solid #7b1798;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 25px;
}

.testimonials img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-details {
  display: inline-block;
  font-size: 16px;
}

.username {
  font-weight: bold;
}

.social-media-icons a img {
  width: 60px;
  transition: transform 0.5s;
}

.social-media-icons a:hover img {
  transform: translateY(-10px);
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
  padding-top: 5%;
}

#banner a {
  color: white;
  text-decoration: none;
}

#services {
  padding: 80px 0;
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

#about-us {
  background-color: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

#about-us ul {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

#about-us li {
  margin: 10px 0;
}

#testimonials {
  margin: 100px 0;
}

#social-media {
  background-color: #f8f9fa;
  padding: 100px 0;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

#footer {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
}

@media only screen and (max-width: 600px) {
  .about-title {
    font-size: 26px;
  }

  .testimonials {
    margin-left: 20px;
  }

  .social-media-icons a img {
    width: 50px;
    transition: transform 0.5s;
  }

  #social-media p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
